*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, sans-serif;
}
/*header styling starts here*/
/*nav bar styling starts here*/
.nav-bar{
	display: flex;
	justify-content: space-between;
	background: #000;
	align-items: center;
	padding: 10px 20px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

}
.logo a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.nav-items {
	list-style: none;
	display: flex;
}
.nav-items li{
	text-align: center;
	margin: 10px 0;
	padding: 20px;
}
.nav-items a{
	color: #fff;
	display: block;
	text-decoration: none;
}

 .active a{
	color: orange;
	
}
.nav-items a:hover{
	color: orange;
	transition: 0.3s ease-in;
}
.menu-icon{
	display:none;
	cursor: pointer;
}
.menu-icon div{
	width: 20px;
	height: 2px;
	background: #fff;
	margin: 5px;
	transition: 0.3s;
}
/*nav bar styling ends here*/
/*hero styling starts here*/

 .hero-section {
 	position: relative;
 	background-image: url(images/banner.png);
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 	height: 100vh;
 	display: flexstart;
 	align-items: center;
 	overflow: hidden;
 }

 .slide {
	position: absolute;
 	width: 100%;
 	height: 100%;
 	opacity: 0;
	transition: opacity 0.7s ease-in-out;
 }

 .slide.active{
 	opacity: 1;
 }
 .content{
 	position: absolute;
 	top: 50%;
 	left: 10%;
 	transform: translateY(-50%);
 	color: #fff;
 	max-width: 500px;
 }

 .content h2 {
 	font-size: 2.5em;
 	font-weight:300;
 	color: black;
 }

 .content h1 {
 	font-size: 3em;
 	color: white;
 	font-weight: 700;
 	margin: 10px 0;
 }

 .content p {
 	margin-bottom: 20px;
 	line-height: 1.5;
 }

 .btn{
 	display: inline-block;
 	background: #000;
 	color:white;
 	padding: 12px 25px;
 	font-size: 15px;
 	border: none;
 	height: 50px;
 	width: 150px;
 	margin:0px 40px;
 	text-decoration: none;
 
 }
 .btn a{

 }

 .btn a:hover{
 	background: orangered;
/* 	transition: 0.5s;*/
 }


 .navigation{
 	position: absolute;
 	bottom: 20%;
 	left: 30%;
 	transform: translateX(-50%);
 	display: flex;
 	gap: 20px;
 }

 .navigation span {
 	cursor: pointer;
 	font-size: 2rem;
 	background: rgba(0, 0, 0, 0.5);
 	color: white;
 	padding: 5px 15px;
 	border-radius: 50%;
 	user-select: none;
 	transition:  background 0.3s;
 }

 .navigation span:hover{

 	background: #ff6600;
 }
 	
/*hearder styling ends here*/
/*main section styling starts here*/
/*about styling starts here*/
.main-section{
	display: flex;
	margin: 40px;
	justify-content: space-between;
	margin-top: 100px;
}
.about h1{
	color: orangered;
	margin-bottom:20px ;

}
.about p{
	line-height: 30px;
	font-size: 20px;
	color: grey;
}
.about{
/*	text-align: center;*/
	align-items: center;
/*	justify-content: ;*/
	width: 700px;
	padding-top: 80px;
}
.ctn{
	background: #000;
	width: 200px;
	height: 50px;
	padding: auto;
	border: none;
	font-size: 15px;
	margin-top: 30px;
}
.ctn a{
	text-decoration: none;
	color: #fff;
}
.ctn:hover{
	background: orangered;
	transition: 0.5s;
}
/*about styling ends here*/
/*gallery styling starts here*/
.Gallery-section h1{
	color: orangered;
	text-align: center;
	align-items: center;
	font-size: 40px;
	margin-bottom: 30px;
}
.Gallery-section p{
	text-align: center;
	align-items: center;
	font-size: 16px;
}
.grid-container  img{
	width: 20em;
	height: 20em;
	margin: 20px;
}


.grid-containers{
	width: 100%;
	height: 100%;
	text-align: center;
}
.grid-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.grid-containers .btn3 a > button{
	padding: 15px;
	width: 10em;
	font-size: 20px;
	border: none;
	background-color: black;
	color: white;

}

.grid-containers .btn3 a > button:hover{
	background: orangered;
	transition: 0.5s ;
}

/* services styling starts here*/
.feature-section{
	background-image: url(./images/services-bg.png);
	padding: 60px 20px;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
/*	gap: 20px;*/
/*	margin-bottom:100px;*/
/*	margin-top: 100px;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
}

.feature-card{
	background-color: #f65f38;
	color: white;
	padding: 30px;
	width: 250px;
/*	text-align: center;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	gap: 20px;*/
/*	margin: 20px;*/
/*	flex-wrap: wrap;*/
/*	align-items: center;*/

}
.feature-container{
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}
.feature-card .btn4 a > button{
	display: none;
}
.feature-card .icon i {
	font-size: 40px;
	margin-bottom: 15px;
	color: aqua;
}

.feature-card:hover{
	transform: translateY(-5px);
	background-color:#fff;
	height: 400px;
	width: 300px;
	color: black;

}
.feature-card:hover .btn4 a > button{
	display: inline-block;
	width: 120px;
	height: 40px;
	background-color: black;
	color: #fff;
	margin-top:150px;
	
}
.server h1{
	color: orangered;
	font-size: 30px;
	margin-bottom:10px;
}
.server{
	margin-bottom: 40px;
	text-align: center;
}

.feature-card h3 {
	margin-bottom: 10px;
	font-size: 20px;
}

.feature-card p {
	font-size: 14px;
	line-height: 1.4;
}
/*services styling ends here*/
/*testimonial section styling statrts here*/
.Testimonial-section{
	padding: 60px,20px;
/*	background: #f9f9f9;*/
	font-family: Arial, sans-serif;
/*	text-align: center;*/
	position: relative;
}

.Testimonial-header h2{
	color:#f65f38;
	font-size: 32px;
	margin-bottom: 10px;
}

.Testimonial-header p{
	color:#666;
	font-size: 16px;
	margin-bottom: 40px;
}

.Testimonial-slider{
	position: relative;
	min-height: 200px;
}

.Testimonial-slide{
/*	max-width: 800px;*/
	background: #ffff;
	padding: 30px;
	border: 1px solid #000;
	color: #333;
	position: relative;
	text-align: left;
	box-sizing: border-box;
	display: none;=-096856

}
.Testimonial-slide.active{
/*	max-width: 700px;*/
	background: #ffff;
	padding: 30px;
	border: 1px solid #000;
	color: #333;
	position: relative;
	text-align: left;
	box-sizing: border-box;
/*	border-radius: 5px;*/

}
.Testimonial-slide.active{
	display: block;
}
.quote-icon {
	font-size: 20px;
	color: #f65f38;
	margin-bottom: 10px;
}

.quote-lines {
	position: relative;
	margin-bottom: 20px;
}

.quote-lines .line{
	position: absolute;
	top: 50%;
	width:30%;
	height: 1px;
	background: #ccc;

}
.Testimonial-author{
	color: #f65f38;
	font-size: 18px;
	margin-bottom: 15px;
}

.quote-lines .line.left{
	left: 0;

}

.quote-lines .line.right{
	right: 0;
}

.Testimonial-content{
	position: relative;
}

.Testimonial-text{
	color: #555;
	font-size: 14px;
	line-height: 1.6;
}
.Testimonial-dots{
	margin-top: 30px;
/*	display: flex;*/
	text-align: center;
}

.Testimonial-dots .dot{
	display: inline-block;
	width: 40px;
	height: 10px;
	margin: 0 6px;
	border-radius: 5px;
	background: #444;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity 0.3s, background 0.3s;
}

.Testimonial-dots .dot.active{
	background: #f65f38;
	opacity: 1;
}
/*tesimonial styling ends here*/
/*contacts section starts here*/
.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 50px;
	background: #fff
}
.contact-form{
	flex: 1;
	padding: 20px;
	background-image: url(images/img-9.png)
}
.contact-form h2{
	font-size:40px;
	margin-bottom: 20px;
	color:#fff;
	text-align: center;

}
.contact-form input,
.contact-form textarea{
	width:100%;
	padding: 15px;
	margin-bottom: 15px;
	border:none;
	outline: none;
	background:#f8f8f8;
	border-radius: 25px;
	font-size: 16px;
}
.contact-form textarea{
	resize:none;
	height:120px;
}
.contact-form button{
	background:orangered;
	color:#fff;
	border:none;
	padding: 15px 30px;
	border-radius:25px;
	cursor: pointer;
	font-size:16px;
	font-weight: bold;
	display: block;
	margin: 0 auto;
}

.contact-form button:hover{
	background:black;
	transition: 0.1s ease-in;
}
/*contacts styling ends here*/
/*footer styling starts here*/
.footer-section{
	background-color: black;
	padding: 40px 20px;
	font-family: sans-serif;

}
.footer-sub h3{
	margin-bottom: 15px;
	color: #fff;
}
.copy-rights{
	text-align: center;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #333;
	color: #aaa;
	font-size: 14px;	

}
.hot-lines p{
	color: #fff;
	margin-bottom:15px;
}
.footer-sub{
	max-width: 1200px;
	margin:auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
	gap:30px;
}
.footer-sub a{
	text-decoration: none;
	color: #fff;
}
.hot-lines i{
	margin-right:10px;
	color: #fff;
}

.footer-sub a:hover{
	color: orangered;
}
/*media query*/
@media (max-width: 600px){
	body{
		background-color: black;
	}
}